.member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
}

.member-item .fa-user {
  padding-right: 10px;
}

.member-item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.member-item .checkbox-custom {
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.member-item input[type="checkbox"]:checked + .checkbox-custom {
  border-color: #8bb85d;
  border-width: 2px;
}

.member-item input[type="checkbox"]:checked + .checkbox-custom {
  border-color: #8bb85d;
  border-width: 2px;
}

.member-item input[type="checkbox"]:checked + .checkbox-custom::before {
  content: "✔";
  color: #8bb85d;
}

.member-item:has(input[type="checkbox"]:not(:checked)) p {
  color: lightgrey;
}
